$text-color: #000;
$text-color-hover: #fff;
$header-color: #e5ff00;
$header-stroke-color: #000;
$element-bg: rgba($color: #000000, $alpha: 0);
$element-bg-hover: #0000006e;
$element-bg-active: #0000009d;
$element-border-color: #000;
$element-bg-disabled: #a09d05;
$element-main-disabled: rgba(0, 0, 0, 0.432);